<template name="takeTest">
	<div class="example">
		<h2 class="example-title">Take Test</h2>
        <div class="row">
		  <div class="col-md-12">
			  <div class="timeline">
				  <dl>
					  <dt>{{ getTestTitle }}</dt>
					  	{{#each questions}}
					  		{{> takeTestItem}}
					  	{{/each}}
					  <!-- <dd class="pos-right clearfix">
						  <div class="circ"></div>
						  <div class="time">Apr 14</div>
						  <div class="events">
							  <div class="pull-left">
								  <img class="events-object img-rounded" src="img/photo-1.jpg">
							  </div>
							  <div class="events-body">
								  <h4 class="events-heading">Bootstrap</h4>
								  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							  </div>
						  </div>
					  </dd> -->
					  

				  </dl>
			  </div>
		  </div>
		</div>
      </div>
</template>