<template name="takeTestItem">
	<dd class="pos-right clearfix"> <!-- HAVE A ROTATE FUNCTION THAT IS CALLED ON pos-{{rotate}} THAT ROTATES OVER right and left  -->
	  <div class="circ"></div>
	  <div class="time">Question No:</div>
	  <div class="events">
		  <div class="pull-left">
		  	  <!-- Icon that is toggled to show if a question has been answered or not -->
			  <img class="events-object img-rounded" src="img/photo-1.jpg">
		  </div>
		  <div class="events-body">
			  <h4 class="events-heading">Question</h4>
			  <!-- <p></p> -->
			  <ul>
			  	<li>
			  		<!-- bind id and value to option value  -->
			  		<div class="radio">
	                  <input type="radio" id="flat-radio-1" name="rad1">
	                  <label for="flat-radio-1">default</label>
	                </div>
			  	</li>
			  	<li>
			  		<div class="radio">
	                  <input type="radio" id="flat-radio-1" value="option1" name="rad1">
	                  <label for="flat-radio-1">default</label>
	                </div>
			  	</li>
			  	<li>
			  		<div class="radio">
	                  <input type="radio" id="flat-radio-1" name="rad1">
	                  <label for="flat-radio-1">default</label>
	                </div>
			  	</li>
			  	<li>
			  		<div class="radio">
	                  <input type="radio" id="flat-radio-1" name="rad1">
	                  <label for="flat-radio-1">default</label>
	                </div>
			  	</li>
			  </ul>
		  </div>
	  </div>
    </dd>
</template>