<template name="createQuestion">
	  <!-- ADD NOTIFICATION SYSTEM -->
	  {{> notifications}}
	  
	 <div class="example">
	    <h2 class="example-title">Questions</h2>
	    <div class="row">
	      <div class="col-md-3">
	        <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Create Question</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
					<fieldset class="panel-content">
	                    <label>Question</label>
	                    <textarea name="question" class="form-control" rows="3"></textarea>

                    	<label>Choose Category</label>
                    	{{> selectCategory}}

                    	<label>Choose Class</label>
                    	{{> selectClass}}    
                    	<hr />

                    	<label>Enter Options</label>
                    	<br />
                    	<label>A</label>
	                    <input type="text" placeholder="Test Title" name="optA" class="form-control">
	                    <label>B</label>
	                    <input type="text" placeholder="Test Title" name="optB" class="form-control">
	                    <label>C</label>
	                    <input type="text" placeholder="Test Title" name="optC" class="form-control">
	                    <label>D</label>
	                    <input type="text" placeholder="Test Title" name="optD" class="form-control">

	                    <hr/>
	                    <label>Choose Answer</label>
	                    <select name="answer" class="form-control selecter_1"  data-selecter-options='{"cover":"true"}'>
					    	<option value="N/A">No Answer</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
					    </select>               

	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create" class=".submit btn btn-success btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-9">
            <div class="well">
            	<strong>Color Legend</strong>
	            <span class="label label-warning">Answer: A</span>
	            <span class="label label-success">Answer: B</span>
	            <span class="label label-danger">Answer: C</span>
	            <span class="label label-info">Answer: D</span>
            </div>

            {{> questionDetailsView}}

	      	
	      </div>
	    </div>
	  </div>
</template>
