<template name="questionDetailsViewItem">
	<div class="col-md-3">
		<div class="alert alert-{{getStatusColor}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{question}}</strong> <br/>
          <span class="badge badge-{{getStatusColor}}">{{answer}}</span>
          <span class="badge badge-{{getStatusColor}}">{{getClass aclass}}</span> 
          <span class="badge badge-{{getStatusColor}}">{{getCategory category}}</span>
          <br /><br />
          <a href="#"><i class="glyphicon glyphicon-th-list"></i></a> | 
          <a href="#"><i class="glyphicon glyphicon-pencil"></i></a> | 
          <a href="#"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
	</div>	
</template>