<!-- <template name="administerTest">
	//retrieve all students who belong to this class
	<div class="col-md-8">
		<div class="pricing">
			<ul>
				{{#each registerStudents}}
					{{> administerTestStudentView}}
				{{/each}}
			</ul>
		</div>
	</div>
</template> -->

<template name="administerTest">
	<div class="example">
	    <div class="row">
	      <div class="col-md-8">
	        <h2 class="example-title">Students for Test Title</h2>
	        
	        {{#each registerStudents}}
				{{> administerTestStudentView}}
			{{/each}}

	        
	      </div>
	    </div>
	</div>
</template>