<template name="createTest">
	  <!-- ADD NOTIFICATION SYSTEM -->
	  {{> notifications}}
	  
	 <div class="example">
	    <h2 class="example-title">Tests</h2>
	    <div class="row">
	      <div class="col-md-3">
	        <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Create Test</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
	                    <label>Title</label>
	                    <input type="text" placeholder="Test Title" name="title" class="form-control">

	                    <label>Duration(In minutes)</label>
	                    <input type="number" placeholder="Enter Test Duration" name="duration" class="form-control">

	                    <label>Description</label>
	                    <textarea name="description" class="form-control" rows="3"></textarea>

                    	<label>Category</label>
                    	{{> selectCategory}}

                    	<label>Class</label>
                    	{{> selectClass}}                   

	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create Test" class=".submit btn btn-primary btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>
	                    
	                    <!-- <input type="submit" value="Cancel" class=".cancel"> -->
	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-9">
	      	{{> testDetailsView}}
	      </div>
	    </div>
	  </div>
</template>
