<template name="testDetailsViewItem">
	<div class="col-md-3">
		<div class="alert alert-{{getStatusColor}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{title}}</strong> <br/>
          <span class="badge badge-{{getStatusColor}}">{{duration}} mins</span>
          <span class="badge badge-{{getStatusColor}}">{{getQuestionsLength}} questions</span><br />
          <span class="badge badge-{{getStatusColor}}">{{getClass aclass}}</span> 
          <span class="badge badge-{{getStatusColor}}">{{getCategory category}}</span>
          <br /><br />
          {{#if checkStatus}}
          	<a href="#"><i class="glyphicon glyphicon-play" data-toggle="tooltip" data-placement="top" title="Start Test"></i></a> |
          {{/if}}
          <a href="{{pathFor 'showSingleTest'}}"><i class="glyphicon glyphicon-th-list" data-toggle="tooltip" data-placement="top" title="View Test Details"></i></a> | 
          <a href="#"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit Test"></i></a> | 
          <a href="#"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete Test"></i></a>
        </div>
		<!-- <li class="unit price-primary">
			<div class="price-title">
				<h5>{{title}}</h5>
				<p>per month</p>
			</div>
			<div class="price-body">
				<h4>{{duration}}</h4>
				<p></p>
				<ul>
					<li>{{status}}</li>
					<li>{{getCategory}}</li>
					<li>{{getClass}}</li>
				</ul>
			</div>
			<div class="price-foot">
				<button type="button" class="btn btn-primary">Start Test</button>
			</div>
		</li> -->
	</div>	
</template>