<template name="testDetailsViewItem">
	<div class="col-md-3">
		<div class="alert alert-{{getStatusColor}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{title}}</strong> <br/>
          <span class="badge badge-{{getStatusColor}}">{{duration}} mins</span>
          <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
          <a href="#"><i class="glyphicon glyphicon-trash"></i></a>
          <!-- <button type="button" class="btn"><i class="glyphicon glyphicon-pencil"></i></button>
          <button type="button" class="btn"><i class="glyphicon glyphicon-trash"></i></button> -->
        </div>
		<!-- <li class="unit price-primary">
			<div class="price-title">
				<h5>{{title}}</h5>
				<p>per month</p>
			</div>
			<div class="price-body">
				<h4>{{duration}}</h4>
				<p></p>
				<ul>
					<li>{{status}}</li>
					<li>{{getCategory}}</li>
					<li>{{getClass}}</li>
				</ul>
			</div>
			<div class="price-foot">
				<button type="button" class="btn btn-primary">Start Test</button>
			</div>
		</li> -->
	</div>	
</template>