<template name="administerTestStudentViewResult">
	<!-- <div class="price-body">
		<h5>Question Number</h5>
		<p>Question</p>
		<ul>
			<li>Selected: </li>
			<li>Answer: </li>
			<li>Passed?: </li>
		</ul>
	</div> -->
	<li class="media">
	    <a class="pull-left" href="#"><span class="media-object img-rounded">#{{question_num}}</span></a>
	    <div class="media-body">
	      <h4 class="media-heading">{{question}}</h4>
	      <p>Selected: {{selected_option}}</p>
	      <p>Answer: {{correct_answer}}</p>                
	    </div>
	</li>
</template>