<template name="createStudent">
	  <!-- ADD NOTIFICATION SYSTEM -->
	  {{> notifications}}
	  
	 <div class="example">
	    <h2 class="example-title">Tests</h2>
	    <div class="row">
	      <div class="col-md-3">
	        <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Create Student</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
	                    <label>Name</label>
	                    <input type="text" placeholder="Student Name" name="name" class="form-control">

	                     <label>Email</label>
	                    <input type="email" placeholder="Email" name="email" class="form-control">

                    	<label>Class</label>
                    	{{> selectClass}}                   

	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create" class=".submit btn btn-primary btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>
	                    
	                    <!-- <input type="submit" value="Cancel" class=".cancel"> -->
	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-9">
            <!-- <div class="well">
            	<strong>Color Legend</strong>
	            <span class="label label-warning">Pending Tests</span>
	            <span class="label label-success">Completed Tests</span>
	            <span class="label label-danger">In-Progress Tests</span>
            </div> -->

            {{> studentDetailsView}}

	      	
	      </div>
	    </div>
	  </div>
</template>