<template name="studentDashboard">
  <div class="example">
    <h2 class="example-title">Students</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group">
          <div class="list-group-item list-group-item-primary">
          	  <h4 class="list-group-item-heading">Student List</h4>
          </div>
          {{#each getAllStudents}}
	          <a href="#" class="list-group-item">
				  <h4 class="list-group-item-heading">{{name}}</h4>
				  <span class="badge badge-danger">{{getClass aclass}}</span>
				  <br/>	  	
			  </a>
          {{/each}}
        </div>
      </div>

      <div class="col-md-7">
        <div class="well">
        	<strong>Available Pending Tests for: {{ getStudentName }}</strong>
        </div>
        <!-- {{#if tests}} -->
	        {{#each studentTests}}
	        	{{> testDetailsViewItem}}    
	        {{/each}} 
	    <!-- {{/if}}  -->	
      </div>
      
    </div>
  </div> 
  
</template>