<template name="classForm">
	<div class="col-md-8">
		<div class="row">
			<div class="panel panel-warning">
		      <div class="panel-heading">
		        <h3 class="panel-title">Create Class</h3>
		      </div>
		      <div class="panel-body">
		        <form class="main" id="classForm">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
		                <label>Title</label>
		                <input type="text" placeholder="Test Title" name="title" class="form-control">

		                <label>Description</label>
		                <textarea name="description" class="form-control" rows="3"></textarea>
		                <br/>

		                <div class="col-md-6">
		                	<input type="submit" value="Create Class" class=".submit btn btn-warning btn-block">
		                </div>
		                <div class="col-md-6">
		                	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
		                </div>
		                
		                <!-- <input type="submit" value="Cancel" class=".cancel"> -->
		                
		            </fieldset>		 			
				</form>
		      </div>
		    </div>
		</div>
		<div class="row">
			<div class="list-group">
              <div class="list-group-item list-group-item-warning">
              	  <h4 class="list-group-item-heading">All Classes</h4>
              </div>
              {{#each classes}}
              	{{> classList}}
              {{/each}}
            </div>
		</div>
	    
    </div>
</template>

<template name="classList">
	<a href="#" class="list-group-item">
	  	<h4 class="list-group-item-heading">{{title}}</h4>
	    <span class="list-group-item-text">{{description}}</span>  	
	</a>
</template>