<template name="classForm">
	<div class="col-md-8">
		<div class="row">
			<div class="panel panel-warning">
		      <div class="panel-heading">
		        <h3 class="panel-title">Create Class</h3>
		      </div>
		      <div class="panel-body">
		        <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
		                <label>Title</label>
		                <input type="text" placeholder="Test Title" name="classTitle" class="form-control">

		                <label>Description</label>
		                <textarea name="classDescription" class="form-control" rows="3"></textarea>
		                <br/>

		                <div class="col-md-6">
		                	<input type="submit" value="Create Class" class=".submitClass btn btn-warning btn-block">
		                </div>
		                <div class="col-md-6">
		                	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
		                </div>
		                
		                <!-- <input type="submit" value="Cancel" class=".cancel"> -->
		                
		            </fieldset>		 			
				</form>
		      </div>
		    </div>
		</div>
		<div class="row">
			<div class="list-group">
              <div class="list-group-item list-group-item-warning">
              	  <h4 class="list-group-item-heading">All Classes</h4>
              </div>
              {{> classList}}
              {{> classList}}
              {{> classList}}
              {{> classList}}
              <!-- {{#each allCategories}}
              	{{> classList}}
              {{/each}} -->
            </div>
		</div>
	    
    </div>
</template>

<template name="classList">
	<a href="#" class="list-group-item">
	  	<h4 class="list-group-item-heading">Title</h4>
	    <span class="list-group-item-text">Description</span>  	
	</a>
</template>