<template name="createCategoryClass">
	<!-- ADD NOTIFICATION SYSTEM -->
	  {{> notifications}}
	  
	 <div class="example">
	    <h2 class="example-title">Categories and Classes</h2>
	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Create Category</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
	                    <label>Title</label>
	                    <input type="text" placeholder="Test Title" name="categoryTitle" class="form-control">

	                    <label>Description</label>
	                    <textarea name="categoryDescription" class="form-control" rows="3"></textarea>
	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create Test" class=".submitCategory btn btn-primary btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>
	                    
	                    <!-- <input type="submit" value="Cancel" class=".cancel"> -->
	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>


	      <div class="col-md-4">
	        <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Create Class</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
	                    <label>Title</label>
	                    <input type="text" placeholder="Test Title" name="classTitle" class="form-control">


	                    <label>Description</label>
	                    <textarea name="classDescription" class="form-control" rows="3"></textarea>
	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create Test" class=".submitClass btn btn-primary btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>
	                    
	                    <!-- <input type="submit" value="Cancel" class=".cancel"> -->
	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>   
	    </div>



	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Category List</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
	                    <label>Title</label>
	                    <input type="text" placeholder="Test Title" name="categoryTitle" class="form-control">

	                    <label>Description</label>
	                    <textarea name="categoryDescription" class="form-control" rows="3"></textarea>
	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create Test" class=".submitCategory btn btn-primary btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>
	                    
	                    <!-- <input type="submit" value="Cancel" class=".cancel"> -->
	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>


	      <div class="col-md-4">
	        <div class="panel panel-primary">

              <div class="panel-heading">
                <h3 class="panel-title">Class List</h3>
              </div>
	          <div class="panel-body">
	            <form class="main">			
		        	<!-- <legend></legend> -->
					<fieldset class="panel-content">
	                    <label>Title</label>
	                    <input type="text" placeholder="Test Title" name="classTitle" class="form-control">


	                    <label>Description</label>
	                    <textarea name="classDescription" class="form-control" rows="3"></textarea>
	                    <br/>

	                    <div class="col-md-6">
	                    	<input type="submit" value="Create Test" class=".submitClass btn btn-primary btn-block">
	                    </div>
	                    <div class="col-md-6">
	                    	<a href="#" class="cancel btn btn-danger btn-block" >Cancel</a>
	                    </div>
	                    
	                    <!-- <input type="submit" value="Cancel" class=".cancel"> -->
	                    
	                </fieldset>		 			
				</form>
	          </div>
	        </div>
	      </div>
	      
	      
	    </div>
	  </div>
</template>