<template name="selectCategory">
    <select name="select_basic" class="form-control selecter_1"  data-selecter-options='{"cover":"true"}'>
    	<option value="N/A">None</option>
    	{{#each selectCategories}}
        	<option value="{{title}}">{{title}}</option>
        {{/each}}
    </select>
</template>

<template name="selectClass">
    <select name="select_basic" class="form-control selecter_1"  data-selecter-options='{"cover":"true"}'>
        <option value="N/A">None</option>
    	{{#each selectClasses}}
        	<option value="{{title}}">{{title}}</option>
        {{/each}}
    </select>
</template>